.frmSearc {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-top: 20vh;
}

.material-icons-outlined {
  background-color: var(--baseOrangeColor);
  color: white;
  font-weight: bold;
}

.material-icons-outlined:hover {
  background-color: var(--baseBlackColor);
  color: white;
  font-weight: bold;
}

.input-group {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: right;
  width: 300px !important;
  margin-right: 2em;
}

.form-group {
  display: flex;
  width: 20vh !important;
  margin-left: 0;
}
